.ip-appearance-tab {
    padding: 4px 12px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
}
.ip-new {
    display: inline-block;
    background-color: #E74C3C;
    color: #ffffff;
    padding: 0 4px;
    font-size: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.ip-deprecated {
    display: inline-block;
    background-color: #16A085;
    color: #ffffff;
    padding: 0 4px;
    font-size: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.ip-optional {
    display: inline-block;
    background-color: #F39C12;
    color: #ffffff;
    padding: 0 4px;
    font-size: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.ip-beta {
    display: inline-block;
    background-color: #3498DB;
    color: #ffffff;
    padding: 0 4px;
    font-size: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

#ip-info {
    padding: 2px 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin: 4px 0;
    border-left: 4px solid #19aa8d;
}

#gb-ad {
    color: #FFFFFF;
    background-color: #303141;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin: 16px 0;
}
#gb-ad a {
    color: #8DA0F6;
}
#gb-ad h4 {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 8px 0;
}
#gb-ad .inside {
    padding: 8px 24px 24px 24px;
}
#gb-ad .gb-handle {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.5em;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.15);
}
#gb-ad .gb-footer {
    color: #FFFFFF;
    padding: 16px 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
}
#gb-ad img {
    width: 90px;
    margin: 0 24px 16px 0;
    float: left;
}
#gb-ad hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0 none;
}



.codor {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: none;
    padding: 0;
}
small .codor {
    display: inline-block;
    padding: 2px 4px;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #0366d6;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.gb-assistant {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    margin: 8px 0 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
.gb-assistant .dashicons {
    color: rgba(0, 0, 0, 0.25);
}



@media all and (max-width: 480px) {
    .gb-handle {
        font-size: 1.25em;
    }
    #gb-ad img {
        float: none;
        width: 45px;
    }
}

/*
 * Customize navigation tabs for more tabs per row
 */
.ip-nav-tab-wrapper .nav-tab {
    margin-left: 0.25em;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px 2px 0 0;
}



.ip-card {
    background-color: #FFFFFF;
    margin: 16px 0;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.ip-card img {
    max-width: 100%;
}
.ip-card h3 {
    font-weight: 300;
    font-size: 22px;
}
.ip-card p,
.ip-card h3 {
    padding: 16px;
    margin: 0;
}
.ip-card-cta {
    padding: 16px;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-grid-thirds {
    max-width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-grid-thirds .ip-card {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid .ip-card,
  .flex-grid-thirds .ip-card {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
